{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}
{% load tag_extras %}

{% block title %}{% trans "Book" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alessandria/layout/ajax_select/css/ajax_select.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.theme.min.css" />
{% endblock %}

{% block pageTitle %}{% trans "Book" %}:&nbsp;{{ object.title|default:_("new") }}{% endblock %}

{% block content %}

{% if object.id > 0 %}
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#mainForm" aria-controls="mainForm" role="tab" data-toggle="tab">{% trans "Form" %}</a></li>
    <li role="presentation"><a href="#author" aria-controls="author" role="tab" data-toggle="tab">{% trans "Author" %}</a></li>
    <li role="presentation"><a href="#borrows" aria-controls="borrows" role="tab" data-toggle="tab">{% trans "Borrowings" %}</a></li>
</ul>
<div class="row">&nbsp;</div>
{% endif %}
<div class="tab-content">
    <div role="tabpanel" class="row tab-pane active" id="mainForm">
        <div class="row">
            <div class="col-sm-12">
            {% if object.id > 0 %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Samples" %}
                            <a href="{% url 'alessandria:bookcopy_add' object.id %}" title="{% trans 'Add' %}">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                        {% for bookcopy in bookcopy_list %}
                            <li>
                                <a href="{% url 'alessandria:bookcopy_update' bookcopy.id %}">
                                    {% if bookcopy.is_disabled %}
                                        <del>{% trans "Sample" %} {{ bookcopy }}</del>&nbsp;({% trans "removed" %})
                                    {% else %}
                                        {% trans "Sample" %} {{ bookcopy }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include 'alessandria/_inc_form_edit_header.html' %}
                <div class="panel panel-info">
                    <div class="panel-body">
                        {% if object.id > 0 %}
                            <form id="curForm" class="form-horizontal" enctype="multipart/form-data" action="" method="post" role="form">{% csrf_token %}
                        {% else %}
                            {# We have to explicitely set the 'action' value because we can come from the isbn import view #}
                            {# In this case if we don't put it it will reload the import isbn view #}
                            <form id="curForm" class="form-horizontal" enctype="multipart/form-data" action="{% url 'alessandria:book_add' %}" method="post" role="form">{% csrf_token %}
                        {% endif %}
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label {{ form.title.css_classes }}">{{ form.title.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.title|addcss:"form-control" }}
                                    {% if form.title.errors %}
                                        <div class="text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.authors.id_for_label }}" class="col-sm-2 control-label {{ form.authors.css_classes }}">
                                    {{ form.authors.label }}
                                    <a href="javascript:submitForm('{% url 'alessandria:save_book_form_to_session' 'alessandria:author_add' %}')" title="{% trans 'Add' %}">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </a>
                                </label>

                                <div class="col-sm-4">
                                    {{ form.authors|addcss:"form-control" }}
                                    {% if form.authors.errors %}
                                        <div class="text-danger">{{ form.authors.errors }}</div>
                                    {% endif %}
                                </div>

                                <label for="{{ form.publishers.id_for_label }}" class="col-sm-2 control-label {{ form.publishers.css_classes }}">
                                    {{ form.publishers.label }}
                                    <a href="javascript:submitForm('{% url 'alessandria:save_book_form_to_session' 'alessandria:publisher_add' %}')" title="{% trans 'Add' %}">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </a>
                                </label>
                                <div class="col-sm-4">
                                    {{ form.publishers|addcss:"form-control" }}
                                    {% if form.publishers.errors %}
                                        <div class="text-danger">{{ form.publishers.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.classif_mark.id_for_label }}" class="col-sm-2 control-label {{ form.classif_mark.css_classes }}">{{ form.classif_mark.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.classif_mark|addcss:"form-control" }}
                                    {% if form.classif_mark.errors %}
                                        <div class="text-danger">{{ form.classif_mark.errors }}</div>
                                    {% endif %}
                                </div>
                                <label for="{{ form.audiences.id_for_label }}" class="col-sm-2 control-label {{ form.audiences.css_classes }}">{{ form.audiences.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.audiences }}
                                    {% if form.audiences.errors %}
                                        <div class="text-danger">{{ form.audiences.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.category.id_for_label }}" class="col-sm-2 control-label {{ form.category.css_classes }}">{{ form.category.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.category|addcss:"form-control" }}
                                    {% if form.category.errors %}
                                        <div class="text-danger">{{ form.category.errors }}</div>
                                    {% endif %}
                                </div>
                                <label for="{{ form.sub_category.id_for_label }}" class="col-sm-2 control-label {{ form.sub_category.css_classes }}">{{ form.sub_category.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.sub_category|addcss:"form-control" }}
                                    {% if form.sub_category.errors %}
                                        <div class="text-danger">{{ form.sub_category.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.language.id_for_label }}" class="col-sm-2 control-label {{ form.language.css_classes }}">{{ form.language.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.language|addcss:"form-control" }}
                                    {% if form.language.errors %}
                                        <div class="text-danger">{{ form.language.errors }}</div>
                                    {% endif %}
                                </div>
                                <label for="{{ form.height.id_for_label }}" class="col-sm-2 control-label {{ form.height.css_classes }}">{{ form.height.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.height|addcss:"form-control" }}
                                    {% if form.height.errors %}
                                        <div class="text-danger">{{ form.height.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.publish_date.id_for_label }}" class="col-sm-2 control-label {{ form.publish_date.css_classes }}">{{ form.publish_date.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.publish_date }}
                                    {% if form.publish_date.errors %}
                                        <div class="text-danger">{{ form.publish_date.errors }}</div>
                                    {% endif %}
                                </div>
                                <label for="{{ form.edition_name.id_for_label }}" class="col-sm-2 control-label {{ form.edition_name.css_classes }}">{{ form.edition_name.label }}</label>
                                <div class="col-sm-4">
                                    {{ form.edition_name|addcss:"form-control" }}
                                    {% if form.edition_name.errors %}
                                        <div class="text-danger">{{ form.edition_name.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.isbn_nb.id_for_label }}" class="col-sm-2 control-label {{ form.isbn_nb.css_classes }}">{{ form.isbn_nb.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.isbn_nb|addcss:"form-control" }}
                                    {% if form.isbn_nb.errors %}
                                        <div class="text-danger">{{ form.isbn_nb.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.abstract.id_for_label }}" class="col-sm-2 control-label {{ form.abstract.css_classes }}">{{ form.abstract.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.abstract|addcss:"form-control" }}
                                    {% if form.abstract.errors %}
                                        <div class="text-danger">{{ form.abstract.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.notes.id_for_label }}" class="col-sm-2 control-label {{ form.notes.css_classes }}">{{ form.notes.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.notes|addcss:"form-control" }}
                                    {% if form.notes.errors %}
                                        <div class="text-danger">{{ form.notes.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            {{ form.is_isbn_import.as_hidden }}

                            {% if book.has_copies %}
                                {% include 'alessandria/_inc_form_edit_buttons_std.html' %}
                            {% else %} {% comment %}Only allow book deletion if there are no copies linked to it{% endcomment %}
                                {% include 'alessandria/_inc_form_edit_buttons_std.html' with delete_url='alessandria:book_delete' %}
                            {% endif %}
                        </form>
                        {% include 'alessandria/_inc_form_edit_footer.html' %}
                    </div>
                </div>
            </div><!-- /.col-sm- -->
        </div><!-- end row -->
    </div>

    {% if object.id > 0 %}
    <div class="row">&nbsp;</div>
    <div role="tabpanel" class="row tab-pane" id="author">
        <div class="col-sm-12">
            {% for author in object.authors.all %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Other books of" %} <a href="{% url 'alessandria:author_update' author.id %}">{{ author }}</a></h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                        {% for book in author.book_set.all %}
                            {% if book.id != object.id %}
                                <li>
                                    <a href="{% url 'alessandria:book_update' book.id %}">{{ book }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if object.id > 0 %}
    <div role="tabpanel" class="row tab-pane" id="borrows">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Borrowing date" %}</th>
                        <th>{% trans "Reader" %}</th>
                        <th>{% trans "Returned" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for borrow in borrow_list %}
                    {% if borrow.is_late %}
                        <tr class="bg-warning">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                            <td><a href="{% url 'alessandria:reader_update' borrow.reader.id %}">{{ borrow.reader }}</td>
                            <td>{{ borrow.returned_on|default:"" }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div> <!-- end div class tab-content-->

{% endblock %}

{% block jscript %}
<script src="/static/alessandria/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alessandria/layout/ajax_select/js/ajax_select.js"></script>
<script>
    function submitForm(action) {
        $('#curForm').attr("action", action);
        $('#curForm').submit();
    }

    function get_sub_categories(){
        jQuery.ajax({
            async: false,
            type: "POST",
            url: "{% url 'alessandria:get_book_sub_categories' %}",
            data: "category_id=" + $('#id_category').val(),
            success: function(response) {
                result = JSON.parse(response);
                if (result) {
                    $('#id_sub_category').empty() // Use to empty the select
                    // Now we append the sector options we've received
                    for(var i=0;i < result.item_list.length;i++){
                        $('#id_sub_category').append($('<option>', { 
                            value: result.item_list[i]['id'],
                            text: result.item_list[i]['name'] 
                        }));
                    }
      
                } else {
                    console.log('error');
                }
            }
        });
    }

    $("#id_category").change(function(){
        get_sub_categories();  // AJAX function call when industry is selected             
    });
</script>
{% endblock %}
