{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm suppression" %}{% endblock %}

{% block pageTitle %}{% trans "Confirm suppression" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <form action="" method="post">{% csrf_token %}
            <p>{% trans "Do you really want to delete" %} "{{ object }}" ?</p>
            <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
        </form>
    </div><!-- /.col-sm-12 -->
</div>
{% endblock %}
